*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: black;
}

.container-pesquisa{
    display: flex;
}

.container-pesquisa input{
    flex-grow: 1;
    padding: 12px;
    font-size: 32px;
}

.container-pesquisa button{
    padding: 12px;
    font-size: 32px;
}

.container-galeria{
    display: column;
    column-count: 5;
}

.foto{
    width: 100%;
    margin-bottom: 20px;
}